.cache
.config
.gnupg
.local
.npm
.nvm
.ssh
.vscode
.gitconfig
.vscode-server
gittest
node_modules
.vscode-server/.899d46d82c4c95423fb7e10e68eba52050e30ba3.log
.vscode-server/data/logs/20220109T050849/remoteagent.log
.vscode-server/data/logs/20220109T050849/exthost2/exthost.log
.vscode-server/data/logs/20220109T050849/exthost2/output_logging_20220109T073116/1-GitHub Pull Request.log
.vscode-server/data/logs/20220109T050849/exthost2/output_logging_20220109T073116/4-Git.log